<head>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="~/js/flatpickr.min.js"></script>
    <script src="./js/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
</head>

<script>
    document.addEventListener('DOMContentLoaded', function () {        
        flatpickr.l10ns.ja.firstDayOfWeek = 0;
        flatpickr('#datetimepicker1', {
            wrap: true,
            dateFormat: 'Y/m/d',
            locale: 'ja',
            clickOpens: false,
            allowInput: true,
            monthSelectorType: 'static'
        });

        let now = new Date();
        flatpickr('#datetimepicker2', {
            wrap: true,
            enableTime: true,
            noCalendar: true,
            defaultHour: now.getHours(),
            defaultMinute: now.getMinutes(),
            dateFormat: 'H:i',
            minuteIncrement: 1,
            locale: 'ja',
            clickOpens: false,
            allowInput: true,
        });

        flatpickr('#datetimepicker3', {
            wrap: true,
            enableTime: true,
            dateFormat: 'Y/m/d H:i',
            defaultHour: now.getHours(),
            defaultMinute: now.getMinutes(),
            minuteIncrement: 1,
            locale: 'ja',
            clickOpens: false,
            allowInput: true,
            monthSelectorType: 'static'
        });
    });

</script>



@model WOB.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Schedule</h1>



<h4>Event</h4>
<hr />
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="EventTypeId" asp-items="ViewBag.EventTypes" class="form-control" id="eventtype"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="name"  placeholder="vs Celtics"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>                      
                
            <label asp-for="Date" class="control-label"></label>
            <div class="input-group date mb-3" id="datetimepicker1" data-target-input="nearest">
                <input asp-for="Date" type="text" data-input class="form-control" data-target="#datetimepicker1" style='background:white' />
                <span class="input-group-text" data-toggle>
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>

            <div>

                <label asp-for="MeetingTime" class="control-label"></label>
                <div class="input-group date mb-3" id="datetimepicker2">
                    <input asp-for="MeetingTime" type="text" data-input class="form-control" data-target="#datetimepicker2" style='background:white' />
                    <span class="input-group-text" data-toggle>
                        <i class="far fa-clock"></i>
                    </span>
                </div>

                <label asp-for="DismissalTime" class="control-label"></label>
                <div class="input-group date mb-3" id="datetimepicker2">
                    <input asp-for="DismissalTime" type="text" data-input class="form-control" data-target="#datetimepicker2" style='background:white' />
                    <span class="input-group-text" data-toggle>
                        <i class="far fa-clock"></i>
                    </span>
                </div>
            </div>
            

            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Valid" /> @Html.DisplayNameFor(model => model.Valid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    const eventtype = document.getElementById("eventtype");
    eventtype.addEventListener("change", function (e) {
        const name = document.getElementById("name");
        switch (this.value) {
            // GAME
            case "1":
                name.setAttribute('placeholder', 'vs Celtics');
                break;
            // MEETING
            case "2":
                name.setAttribute('placeholder', 'meeting');
                break;
            // TRNASFER
            case "3":
                name.setAttribute('placeholder', 'Bus');
                break;
            default:
                name.setAttribute('placeholder', '')
        }
    })
</script>
 *@